.App {
  text-align: left;
}

.App-header {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 20px;
}

.Example-header {
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
